<h1>Comments#edit</h1>
<p>Find me in app/views/comments/edit.html.erb</p>
<h1>Edite ce commentaire</h1>
<%= form_tag url_for(action: 'update'), method: "patch" do %>
  <%= label_tag 'Content' %>
  <%= text_area_tag 'content', @comment.content %>
  <br /> <br />
  <%= submit_tag "Edite le commentaire" %>
<% end %>
<br /><br />
<h5>Suppression du commentaire</h5>
<%= link_to "Supprimer le commentaire", gossip_comment_path(@comment.gossip.id, @comment.id), :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>

