<section class="jumbotron text-center">
 <div class="container">
    <h1 class= "display-3 jumbotron-heading">Welcome <%= @firstname%></h1>
    <h2 class= "lead text-muted">Ici c'est notre super site de potins, il est chouette, non ? </h2>
  </div>
</section>
<section>
<h3>Voici la liste des potins </h3>
<div class="row">
<% Gossip.all.each do |gossip|  %>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Titre :<%= gossip.title%></h5>
        <p class="card-text">Lanceurs de rumeurs id : <%= gossip.user_id%>  Date du Gossip : <%= gossip.created_at%></p>
        <div class="btn-group">
          <a href="/gossips/<%= gossip.id%>" class="btn btn-sm btn-outline-secondary" role="button">Check le gossip</a>
          <p href="/gossips/<%= gossip.id%>"class="btn btn-sm btn-outline-secondary"> <%= link_to "Supprimer", gossip, data: {:confirm => 't es sûr de toi la??'} , :method => :delete %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</section>