<section class="jumbotron text-center">
 <div class="container">
    <h1 class= "display-3 jumbotron-heading">Ton gossip</h1>
    <p>Dis nous tout, n'ai pas peur, mon petit.</p>
  </div>
</section>
 <%= form_tag url_for(action: 'create'), method: "post" do %>
     <div class ="form-group">
      <%= label_tag 'Titre du gossip : '%>
      <%= text_field_tag 'title', @gossipnew.title %>
      <br /> <br />
      </div>
      <div class ="form-group">
      <%= label_tag 'Description : ' %>
      <%= text_area_tag 'content', @gossipnew.content %>
      <br /> <br />
      </div>
      <%= submit_tag "Envoyer mon super Gossip" %>

    <% end %>

  <% if @gossipnew.errors.any? %>
  <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @gossipnew.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  </div>
<% end %>