<h1>Gossip Card</h1>
<li>Titre du gossip :<%= @gossipfind.title%> </li>
<li>Le gossip :<%= @gossipfind.content%> </li>
<li>Lanceur de rumeurs :<a href= "/profils/<%= @user.id%>"> <%= @gossipfind.user.first_name %></a></li>
<li>Date du Gossip : <%= @gossipfind.created_at%></li>

