<h1>Welcome <%= @firstname%></h1>
<h2>Ici c'est notre super site de potins, il est chouette, non ? </h2>

<h3>Voici la liste des potins </h3>
<% Gossip.all.each do |gossip|  %>
<p> Gossip</p>
<li>Titre du gossip :<%= gossip.title%> </li> 
<li>Lanceurs de rumeurs : <%= gossip.user.first_name %></li>
<li>Date du Gossip : <%= gossip.created_at%></li>
<li><a href= "/gossips/<%= gossip.id%>"> Lien pour le gossip : </a></li>
<hr/>
<% end %>
