<h1>Welcome <%= @firstname%></h1>
<h2>Ici c'est notre super site de potins, il est chouette, non ? </h2>

<h3>Voici la liste des potins </h3>
<div class="row">
<% Gossip.all.each do |gossip|  %>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Titre du gossip :<%= gossip.title%></h5>
        <p class="card-text">Lanceurs de rumeurs : <%= gossip.user.first_name %> Date du Gossip : <%= gossip.created_at%></p>
        <a href="/gossips/<%= gossip.id%>" class="btn btn-primary">Check le gossip</a>
      </div>
    </div>
  </div>
  <% end %>